.header .header__left .logo__text,
.navbar__menus {
  color: black !important;
  font-weight: bold;
}

.navbar__menus {
  position: relative;
  right: 10px;
}
.header .header__right .navbar__menus .navbar-menu {
  color: black !important;
}
.header {
border-radius: 0 0 30px 30px; /* top-left | top-right | bottom-right | bottom-left */
  transition: all 0.3s ease;

}
.header:hover {
  background-color: #c1c1c133;
}
#btn-search a {
  color: black !important;
}
.header .header__right .navbar__menus .navbar-menu {
  transition: all 0.3s ease;
}

.post-entry__content h2 {
  font-weight: bold !important;
}
.main .post-title h1 {
  background: linear-gradient(
    to right,
    #365262 0%,
    #1c6a54 50%,
    #254050 100%
  ) !important;
  background-clip: text !important;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
  font-weight: bold;
}
.post-title {
  padding: 10%;
}
.content-card {
  box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0), 1px 1px 15px 0 rgba(0, 0, 0, 0);
}
.content-card {
  border-radius: 40px;
}
.post__content p img {
  border-radius: 30px;
}
a {
  text-decoration: none !important; /* 去掉下划线 */
  color: rgba(0, 0, 0, 0.349) !important; /* 设置链接颜色 */
  transition: color 0.5s ease;
  font-weight: bold;
}
a:hover {
  color: rgba(0, 0, 0, 0.244) !important; /* 设置链接颜色 */
}
.highlight {
  border-radius: 30px;
}
.post-entry__content > .highlight,
.post__content > .highligh {
  border-radius: 30px;
}
.footer {
  transition: all 0.58s ease;
}
.footer .button {
    bottom: 4.8rem !important;
  transition: all 0.3s ease;
  background-color: white !important;
  border-radius: 20px !important;
  box-shadow: 0 0.3rem 0.6rem rgba(48, 55, 66, 0.1) !important;
}
.btn-toc {
  bottom: 1.2rem !important;
  transition: all 0.3s ease;
  background: white !important;
  border-radius: 20px !important;
  box-shadow: 0 0.3rem 0.6rem rgba(48, 55, 66, 0.1) !important
}
.btn-toc:hover {
  transform: scale(1.05) translateY(-5px) translateX(-5px);
  box-shadow: 0 0.3rem 0.6rem rgba(48, 55, 66, 0.101) !important;
}
.button:hover {
  transform: translateY(0px);
  box-shadow: 0 0.3rem 0.6rem rgba(48, 55, 66, 0.201) !important;
}
.navbar__menus .button,
.header .button {
  margin-left: 10px;
  transition: all 0.3s ease;
  border-radius: 20px !important;
  padding: 10px;

}
.navbar__menus .button:hover {
  background-color: white !important;
  transform: translateY(0px) !important;
  /*box-shadow: 0 0.3rem 0.6rem rgba(48,55,66,0.15) !important;
*/
}
.header .header__right .navbar__menus .navbar-menu {
  padding: 15px 20px 15px 20px !important;
}
.header .button:hover {
  background-color: white !important;
  transform: translateY(0px);
  box-shadow: 0 0.3rem 0.6rem rgba(48, 55, 66, 0.012) !important;
}
.post-entry:hover {
  transform: scale(1.02) !important;
  box-shadow: 0 0.3rem 0.6rem rgba(48, 55, 66, 0.06) !important;
}
.header {
  margin-top: 0px !important;
  backdrop-filter: blur(20px);
  position: fixed;
  width: 100%;
  background-color: #f4f4f46f;
  height: 90px !important;
}

.nav {
  display: flex;
  justify-content: left; /* 水平居中 */
  background-color: white !important;
  border-radius: 30px;
  padding: 30px;
  padding-bottom: 40px;
  transition: all 0.3s ease;
}
.nav:hover {
  background-color: white !important;
  transform: scale(1.02) !important;
  box-shadow: 0 0.3rem 0.6rem rgba(48, 55, 66, 0.04) !important;
}
.nav .nav__prev {
  flex: 40% 1 !important;
}
.footer {
  font-size: 1em !important;
}
@font-face {
  font-family: "MiSans";
  font-display: swap;
  src: url("https://raw.gitmirror.com/genkaim/blog_img/main/data/202401201604298.woff2")
    format("woff2");
}

body {
  font-family: "MiSans" !important;
}
#dropdown-menus {
  border-radius: 30px;
  margin-top: 20px;
}
.cover {
  height: 100px;
  display: flex;
  align-items: center;
  margin: 0px !important;
  margin-bottom: 50px;
}
#b2t {
  opacity: 0;

}
#b2t:hover {
  transform: scale(1.05) translateY(-5px) translateX(-5px);
}
.main {
  background-color: #f4f4f400;
  top: 0px;
  position: relative !important;
  transition: all 0.58s ease;
}
.footer {
  position: relative !important;
}
.post__content {
  position: relative;
  top: 20px;
}

svg {
  max-height: 800px;
}

.post-cover {
  width: 50%;
  border-radius: 40px;
  transition: all 0.3s ease;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 0 0.3rem 0.6rem rgba(48, 55, 66, 0); /* 调整阴影模糊度和透明度 */
}
.post-cover:hover {
  transform: scale(1.02) !important;
  box-shadow: 0 0.3rem 0.6rem rgba(48, 55, 66, 0.12); /* 调整阴影模糊度和透明度 */
}

.cover_cover {
  background-color: #f4f4f400;
  width: 100%;
  height: 100%;
  position: absolute;
  transition: all 1s ease;
  display: none;
}

.toc {
  padding-top: 30px;
  transition: all 0.3s ease;
}
.toc:hover {
  transform: translateX(-5px);
}
.toc-item {
  padding-left: 7px;
  padding-right: 7px;
  padding-top: 2px;
}
.toc-item a {
  padding: 10.5px;
  border-radius: 14px;
  transition: all 0.3s ease;
  margin: 10px;
}
.toc-item a:hover {
  background-color: white;
}
.toc-child {
  margin-top: 10px;
}
.highlight {
  background-color: white !important;
}

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}
::-webkit-scrollbar-track-piece {
  background-color: transparent;
  -webkit-border-radius: 6px;
}
::-webkit-scrollbar-thumb:vertical {
  height: 12px;
  background-color: #bdbdbd;
  -webkit-border-radius: 6px;
}
::-webkit-scrollbar-thumb:horizontal {
  width: 12px;
  background-color: #bdbdbd;
  -webkit-border-radius: 6px;
}

::-webkit-scrollbar-thumb:vertical:hover,
::-webkit-scrollbar-thumb:horizontal:hover {
  background-color: #808080;
}

/*
.katex {
  background-color: #f4f4f496;
  padding: 12px;
  margin: 5px;
  border-radius: 5px;
  white-space: pre-wrap;
}*/
img {
  border-radius: 30px;
}
#toc-menus {
  box-shadow: 0.6rem 0.6rem 0.6rem rgba(48, 55, 66, 0.079); /* 调整阴影模糊度和透明度 */
  border-radius: 50px !important;
}
.post__license {
  border-left: none;
  border-radius: 20px;
  padding: 20px;
}
.katex,
.katex-display {
  user-select: all;
  -moz-user-select: all;
  -webkit-user-select: all;
  -ms-user-select: all;
}
.post_reward {
  width:100%;
  height: 50px;
  background-color: #d9d9d9;
  border-radius: 25px;
  transition: all 0.3s ease-in-out;
  font-weight: bold ;
  color: black;
  display: flex;            /* 启用Flexbox布局 */
  justify-content: center;  /* 水平居中 */
  align-items: center;      /* 垂直居中 */
}
.post_reward:hover {
  background-color: #cfcfcf;
  transform: scale(1.01);
}
.post_reward .reward-container {
  display: none;
  height: 200px;
  border-radius: 10px;
}
.post_reward.active .reward-container {
  display: flex;
  animation: fadeIn 0.5s ease forwards;
}
.post_reward.active {
  background-color: transparent;
  height: 230px;
  color:transparent;
  border-radius: 30px;
}
.post_reward.active p {
  display: none;
}
.reward-top, .reward-bottom {
  background-color: #303030;
  height:100px;
  margin-bottom: 10px;
  border-radius: 20px;
  width:50px;
}
.reward-container {
  display: flex;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

.reward-left,
.reward-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.reward-right {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}

.reward-bottom {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200%;
  text-align: center;
  font-size: 14px;
  color: black;
  width:100px;
  background-color: #e2e2e296;
  margin-bottom: 10px;
  transition: all 0.3s ease;
}
.reward-bottom:hover {
  background-color: #e2e2e2;
  transform: scale(1.05);
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.8);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
button {
  border: none; /* 取消描边 */
  outline: none; /* 取消焦点时的描边 */
  background-color: transparent; /* 取消背景颜色 */
  cursor: pointer; /* 设置鼠标指针为手形 */
  padding: 8px 16px; /* 添加内边距以保持按钮的视觉效果 */
  font-size: 16px; /* 设置字体大小 */
  color: #333; /* 设置字体颜色 */
}
.archives-item::before {
  background: transparent !important;
}
.archives-icon {
  display: none;
  background: transparent !important;
}
.archives-icon::before {
  display: none;
  border-radius: 6px !important;
  width: 2rem !important;
  height: 2rem !important;
  border: none !important;
  background-color: transparent;
}
.archives .archives-item:hover .archives-icon::before {
  background: transparent !important;
}
.archives-content a .archives-title {
  transition: all 0.3s ease;
  padding: 20px !important;
  border-radius: 20px;
}

.archives-content a .archives-title:hover {
  background-color: white;
}
.archives-year {
  background-color: rgba(255, 255, 255, 0);
  padding: 20px;
  border-radius: 20px;
}

.submit {
  background-color: black;
  color: white !important;
  font-size: 16px;
  padding: 15px 20px 15px 20px !important;
  border-radius: 19px;
  margin-left: 17px;
  transition: background-color 0.3s ease;
}
.submit:hover {
  color: white !important;
  background-color: #000000a1;
}
.katex-display > .katex {
  white-space: pre-wrap !important ;
}
.highlight table {
  background-color: #f4f4f496;
  padding: 30px;
  padding-top: 20px;
  padding-right: 0px;
  padding-bottom: 20px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}
.highlight_copy_button {
  top: 0px;
  right: 0px;
  transition: all 0.3s ease;
  font-size: 14px;
  height: 40px;
  width: 60px;
  color: white;
  font-weight: bold;
  background-color: black;
  padding: 10px 15px 10px 15px !important;
  border-radius: 12px;
  margin: 20px;
  margin-right: 25px;
}
.highlight_copy_button:hover {
  background-color: #000000a1;
  transform: scale(1.05);
}
.highlight_header {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  padding-left: 20px;
  background-color: #f4f4f4;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left; /* 保持默认文本对齐方式 */
}
.highlight_language {
  font-weight: bold;
  font-size: 20px;
  margin-left: 10px;
  color: grey;
}
#waline {
  margin-top: 30px;
}

.wl-btn {
  background: rgba(0, 0, 0, 0.058) !important;
  border-color: transparent !important;
  border-radius: 12px !important;
}
.primary {
  background: black !important;
}
.wl-sort .active {
  color: black !important;
}
.wl-badge {
  color: black !important;
}

.left_show {
  font-weight: bold;
  width: 100%;
}
.left_show h1 {
  font-weight: bold !important;
  margin-top: 10px !important;
}
.cover {
  display: flex;
  align-items: center; /* 上下居中 */
  justify-content: center; /* 左右居中，如果需要的话 */
  height: 100%;
  height: 100%;
}
.cover_show {
  position: absolute;
  right: 20px;
  height: 100%;
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  transform: translateY(-10px);
  padding-right: 30px;
}

.cover__link:hover {
  background-color: #a7a7a724;
  transform: scale(1.01);
}

.cover {
  text-align: left !important;
  padding: 150px;
}
.cover .cover__logo h1 {
  font-weight: bold;
  margin-bottom: 15px !important;
  margin-top: 15px !important;
}
.cover__logo {
  transition: all 0.3s ease;
  border-radius: 30px;
  padding: 60px;
}
.cover__logo:hover {
  background-color: #c1c1c114;
  transform: scale(1.01);
}
.home_content {
  transition: all 0.3s ease;
}
.cover_img {
  width: 35%;
  transition: all 0.3s ease;
  border-radius: 40px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 0 0.3rem 0.6rem rgba(48, 55, 66, 0); /* 调整阴影模糊度和透明度 */
}
.cover_img:hover {
  box-shadow: 0 0.3rem 0.6rem rgba(48, 55, 66, 0.12); /* 调整阴影模糊度和透明度 */
}
.cover_text {
  padding-right: 30%;
  padding-left: 10px;
}
@media screen and (max-width: 764px) {
  .content-card {
    padding: 30px;
  }
  .post__content {
    position: relative;
    top: 13px;
  }
  .cover_img {
    width: 70% !important;
    border-radius: 30px !important;
    display: none !important;
  }
  .cover_show {
    padding-right: 0px !important;
  }
  .cover {
    margin-left: 0px !important;
    padding: 20px;
  }
  .cover_text {
    padding-right: 10px !important;
  }
}
.cover__link {
  padding: 10px;
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: left;
  background-color: #a7a7a700;
  border-radius: 20px;
  margin-left: 0px;
  padding-bottom: 7px;
  transition: all 0.3s ease;
  padding-left: 10px;
}
.cover__link__logo {
  margin-top: 0px;
  width: 40px;
  object-fit: contain;
  margin-left: 20px;
}

.tixing {
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 30px;
  font-weight: bold;
  color: rgba(128, 128, 128, 0.101);
}
