<% if (theme.preloader.enable) { %>
<script>
  document.body.style.overflow = "hidden";
</script>
<section class="loader">
  <!--
  <div class="loader-center">
    <div class="chars">
      <span class="char brace">{</span>
      <span class="dots">
        <span class="char dot _dot-1">.</span>
        <span class="char dot _dot-2">.</span>
        <span class="char dot _dot-3">.</span>
      </span>
      <span class="char brace">}</span>
    </div>
  </div>-->
  <div class="loading">
    <i class="dots">
      <span></span>

      <span></span>

      <span></span>

      <span></span>

      <span></span>

      <span></span>
    </i>
  </div>
</section>

<script>
  var endLoading = function () {
    document.body.style.overflow = "auto";
    var loader = document.querySelector("section.loader");
    var dots = document.querySelector(".loading .dots");
    dots.classList.add("loaded");
    setTimeout(function () {
      loader.classList.add("loaded");
    }, 1300);
    setTimeout(function () {
      loader.style.display = "none";
      dots.style.display = "none";
    }, 3500);
  };
  function end_loading() {
    document.body.style.overflow = "auto";
    var loader = document.querySelector("section.loader");
    var dots = document.querySelector(".loading .dots");
    dots.classList.add("loaded");
    setTimeout(function () {
      loader.classList.add("loaded");
    }, 0);
    setTimeout(function () {
      loader.style.display = "none";
      dots.style.display = "none";
    }, 1500);
  }
  function check() {
    setTimeout(function () {
      if(document.readyState === "complete") { // 如果页面加载完
        end_loading();
      }
      else {
        check();
      }
    }, 5500);
  }

  check(); // 开始检查
  /*
  setTimeout(function () {
    window.addEventListener("load", endLoading);
  }, 1500);*/
</script>
<style></style>
<% } %>
