
#loader-box
  section.loader
    .loader-center
      .chars
        span.char.brace {
        span.dots
        span.char.dot._dot-1 .
        span.char.dot._dot-2 .
        span.char.dot._dot-3 .
        span.char.brace }

  script.
    (()=>{
      const $loadingBox = document.getElementById('loading-box')
      const $body = document.body
      const preloader = {
        endLoading: () => {
          $body.style.overflow = ''
          //$loadingBox.classList.add('loaded')
          document.getElementById('loader-box').add();
        },
        initLoading: () => {
          $body.style.overflow = 'hidden'
          //$loadingBox.classList.remove('loaded')
          document.getElementById('loader-box').remove();  
        }
      }

      preloader.initLoading()
      window.addEventListener('load',() => { preloader.endLoading() })
    })()

  script.
      var endLoading = function () {
          document.body.style.overflow = 'auto';
          document.getElementById('loader-box').remove();
